body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
    font-family: Arial, sans-serif;
}

.topnav {
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    list-style-type: none;
}

.topnav a {
    display: inline-block;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-align: center;
    padding: 22px 10px;
    text-decoration: none;
    text-decoration-style: solid;
    visibility: visible;
}

.topnav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.topnav .left-edge-pad {
    padding-left: 29px;
}

.topnav .right-edge-pad {
    padding-right: 29px;
}

.search-area {
    height: 200px;
    position: relative;
}

.search-area .g-logo {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.search-area .search-box {
    margin: 0;
    position: absolute;
    top: 160%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.search-box input {
    height: 43px;
    width: 475px;
    border: 1px solid rgba(219, 219, 219, 0.774);
    border-radius: 50px;
}

.search-box input:hover {
    box-shadow: 3px 3px 10px -3px rgba(219, 219, 219, 0.774), -1px -1px 10px -3px rgba(219, 219, 219, 0.774);
}

.search-box input:focus {
    box-shadow: 3px 3px 10px -3px rgba(219, 219, 219, 0.774), -1px -1px 10px -3px rgba(219, 219, 219, 0.774);
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}

.search-area .search-buttons {
    position: absolute;
    top: 190%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

button {
    background-color: rgb(242, 242, 242);
    border: none;
    color: #5f6368;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    border-width: 1px;
    height: 35px;
    margin: 11px 4px;
}

button:hover {
    border: 1px solid rgba(219, 219, 219, 0.774);
    color: #333;
    cursor: pointer;
}

.botnav {
    margin: 0 !important;
    padding: 0 !important;
    bottom: 0;
    position: fixed;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
    background-color: #F2F2F2;
    border-top: 1px solid rgba(219, 219, 219, 0.774);
    list-style-type: none;
}

.botnav a {
    font-size: 14px;
    color: #5f6368;
    text-align: center;
    padding: 10px 13px;
    line-height: 20px;
    text-decoration: none;
    text-decoration-style: solid;
    visibility: visible;
}

.botnav a:hover {
    text-decoration: underline;
    color: #333;
    cursor: pointer;
}

.botnav .left-edge-pad {
    padding-left: 29px;
}

.botnav .right-edge-pad {
    padding-right: 29px;
}

#float-left {
    float: left;
}

#float-right {
    float: right;
}