body {
    margin: 0 !important;
    padding: 0 !important;
}

.container {
    background-color: white;
}

.topnav {
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    position: fixed;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background-color: white;
    list-style-type: none;
}

.topnav a {
    display: inline-block;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #000;
    opacity: 0.75;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-decoration-style: solid;
}

.topnav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-area {
    height: 200px;
    position: relative;
}

.search-area .g-logo {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.search-area .search-box {
    margin: 0;
    position: absolute;
    top: 160%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.search-box input {
    height: 43px;
    width: 475px;
    border: 1px solid rgba(219, 219, 219, 0.774);
    border-radius: 50px;
    box-shadow: 3px 3px 10px -3px rgba(219, 219, 219, 0.774), -1px -1px 10px -3px rgba(219, 219, 219, 0.774);
}

.search-area .search-buttons {
    margin: 0;
    position: absolute;
    top: 190%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.botnav {
    margin: 0 !important;
    padding: 0 !important;
    bottom: 0;
    position: fixed;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; 
    background-color: #F2F2F2;
    border-top: 1px solid rgba(219, 219, 219, 0.774);
    list-style-type: none;
}

.botnav a {
    display: inline-block;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #5f6368;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    text-decoration: none;
    text-decoration-style: solid;
    visibility: visible;
}

.botnav a:hover {
    text-decoration: underline;
    color: #333;
    cursor: pointer;
}

#nav-float-left {
    float: left;
    padding-right: 27px;
}

#nav-float-right {
    float: right;
    padding-right: 27px;
}